$clr_hover_link: #410087;
$clr_drk: #000000;
$clr_acc: #171d25;
$ff_main: Arial, sans-serif;
$ff_sec: sans-serif;

$bg_primary: #171d25;
$bg_light: #f3f3f3;
$bg_dark: #000000;
$bg_acc: #1b2939;
$bg_btn_hover: #1a9fff;
$bg_menu_hover: #1a9fff;
$bg_submenu: #f1f1f1;

$header_height: 80px;

* {
    box-sizing: border-box;
}

.resources {
    border: solid 3px $bg_menu_hover;
    padding: 20px;
    margin: 20px;
    flex: 1;
    font-weight: 600;
    font-family: $ff_sec;
    background-color: $bg_light;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    animation: fade_in 1s ease forwards;
}

.userForm {
    border: solid 3px $bg_menu_hover;
    padding: 10px;
    margin: 20px;
    flex: 1;
    font-weight: 600;
    font-family: $ff_sec;
    background-color: $bg_light;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    animation: fade_in 1s ease forwards;
    max-width: 400px;
}

header {
    background-color: $bg_primary;
    color: $bg_light;
    width: 100%;
    top: 0;
    max-height: 80px;
    padding: 10px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    font-family: $ff_main;
    z-index: 100;
}

.nav-button-mobile-container {
    display: none;
    position: relative;
}

.nav-dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
}

.nav-dropdown.active {
    display: flex;
}

.nav-dropdown-item {
    cursor: pointer;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: #666;
    scroll-margin-top: 200px;
}

.nav-dropdown-item:visited {
    color: #666;
}

.nav-dropdown-item:hover {
    background: $bg_acc;
    border-radius: 5px;
    color: $bg_light;
}

body {
    background-color: $bg_acc;
    margin: 0;
}

.formh {
    display: flex;
    justify-content: center;
}

.imageh {
    display: flex;
    justify-content: center;
    color: $bg_light;
    font-family: $ff_sec;
}

.userForm-container {
    display: flex;
    justify-content: center;
    width: 100%;

    & textarea {
        width: 100%;
    }
}

.userForm-text {
    display: flex;
    padding: 10px;
    width: 95%;
}

a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}

.menubtn {
    display: none;
}

.button-container {
    display: flex;
    justify-content: center;
}

.image-container {
    position: relative;
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1.5;
    max-height: 300px;
    height: 300px;
    opacity: 0;
}

$animation_duration: 1s;

.image-item:first-child {
    animation: image_apear $animation_duration ease forwards;
}

.image-item:nth-child(2) {
    animation: image_apear $animation_duration ease forwards .3s;
}

.image-item:last-child {
    animation: image_apear $animation_duration ease forwards .6s;
}

.image-item img {
    object-position: center center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes image_apear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hyperlink-container li {
    display: inline-block;
    color: azure;
    font-size: 21px;
    padding: 0px 10px;
    margin: 0px 15px;
    transition: all 0.5s ease;
}

input[type=submit],
input[type=reset] {
    font-size: 14px;
    padding: 10px 25px;
    background-color: $bg_menu_hover;
    color: $bg_light;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}


table {
    border-collapse: collapse;
    animation: slide_from_left 1s ease-in-out forwards;
    margin-top: 25px;
    font-size: 0.8em;
    font-family: $ff_sec;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    caption {
        margin-bottom: 5px;
        font-size: 20px;
        color: $bg_light;
    }
    th,
    td {
        padding: 10px 10px;
    }
    thead {
        tr {
            background-color: $bg_menu_hover;
            color: $bg_light;
            text-align: left;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid $bg_dark;
            text-align: left;
            color: $bg_light;
            &:nth-of-type(even) {
                background-color: $bg_primary;
            }
            &:nth-of-type {
                border-bottom: 2px solid $bg_primary;
            }
            &:hover {
                background-color: $bg_light;
                color: $bg_dark;
            }
        }
    }
}

.table-container {
    padding: 0 20px;
    opacity: 0;
    animation: table_apear $animation_duration ease forwards;
}


@keyframes table_apear {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.information {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    font-family: $ff_sec;
    background-color: $bg_primary;
    color: $bg_light;
    bottom: 0;
    width: 100%;
}

.link_anchor {
    display: block;
    height: $header_height;
    margin-top: calc($header_height * -1);
    visibility: hidden;
}

@media screen and (max-width: 800px) {
    .userForm {
        margin: 20px;
        max-width: 100%;
    }
    .information {
        flex-direction: column;
    }
    .tables {
        font-size: 0.7em;
    }
    table th,
    table td {
        padding: 8px 8px;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        max-height: 80px;
        justify-content: flex-start;
    }
    .nav-button-mobile-container {
        display: block;
    }
    .menubtn {
        order: 1;
        display: block;
        font-size: 14px;
        padding: 10px 25px;
        background-color: $bg_menu_hover;
        color: $bg_light;
        border: none;
        cursor: pointer;
    }
    h1 {
        order: 2;
        margin: 7%;
    }
    .image-container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .image-item {
        max-height: 200px;
    }
    .hyperlink-container {
        position: relative;
        display: inline-block;
    }
    .hyperlink-items {
        display: none;
        position: absolute;
        background-color: $bg_submenu;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
        z-index: 1;
    }
    .hyperlink-items a {
        color: $bg_dark;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .hyperlink-items a:hover {
        background-color: $bg_primary;
    }
    .show {
        display: block;
    }
}